.detailsImage {
  border-radius: 5px 5px 0 0;
  height: 105px;
  left: 12px;
  top: 250px;
  width: 130px;
}

.carouselItem {
  display: flex;
}

.startRecipeBtn {
  background-color: #fcdc36;
  bottom: 0;
  left: 0;
  padding-top: 5px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.recipePage {
  width: 100%;
  height: 100%;
}
